b PayPal
br
- embed = @data[:embed]
- transaction = @data[:transaction]

| Transaction Fee: #{payment_config[:card_fee_str]}
br
= link_to "Pay via PayPal", "/paypal/checkout?t=#{transaction[:uuid]}"

