@font-face {
    font-family: DIN Light Regular;
    src: url(../fonts/din-light-font.otf);
}
@font-face {
    font-family: Emilys Candy;
    src: url(../fonts/EmilysCandy-Regular.ttf);
}
main {
  margin-top: 50px;
}
p {
  font-weight: 200;
}
h1 {
  font-size: 40px;
}
h3 {
  font-size: 22px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px
}
a {
  color: #E82C58;
  text-decoration: none !important;
}
a:focus, a:hover {
    color: #23527c;
}
#avatarTop img {
    width: 26px;
    margin-top: 10px;
    margin-right: 15px;
}
#avatarTopTilt img {
    width: 40px;
    margin-top: 6px;
    margin-right: 4px;
}
.orangeTxt {
  color: rgb(238, 136, 99);
}
.orangeTxtImp {
  color: rgb(238, 136, 99) !important;
}
.noColorBoldLinks {
  color: inherit;
  font-weight: bold;
}
.blueLinksAbuntoo {
  color: #6383ee;
}
.fontBlack {
  color: black;
}
.fontItalic {
  font-style: italic;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearB {
  clear: both;
}
.noPadd {
  padding: 0;
}
.noPaddR {
  padding-right: 0;
}
.noPaddL {
  padding-left: 0;
}
.floatL {
  float: left;
}
.floatR {
  float: right;
}
.margAuto {
  margin: 0 auto;
}
.navEncloser {
  background: rgba(201, 238, 99, 1);
  color: white;
}
.mainTagline {
  color: #EE6383;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1;
  font-size: 38px;
}
.mainTagline a {
  color: #EE6383;
}
.mainSubline {
  color: #707070;
  text-align: center;
  font-family: 'DIN Light Regular';
  font-weight: normal;
  max-width: 800px;
  margin: 0;
  margin-left: 122px;
  line-height: 1;
}
.mainSectionMenu {
  width: 100%;
  display: block;
  font-size: 16px;
  color: black;
  padding: 0;
}
.mainSectionMenu li {
  display: inline-block;
  min-width: 22.4%;
  padding-bottom: 10px;
  margin-right: 22px;
  border-bottom: 6px solid rgba(201, 238, 99, 1);
}
.mainSectionMenu li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-family: Helvetica;
}
#headingSection {
  margin-bottom: 70px;
}
.btnC1 {
  background: #EE6383;
  color: white;
  border-color: white;
  width: 100%;
  padding: 10px;
}
.btnC1:hover, .btnC1:active, .btnC1:focus, .btnC1:visited {
  background-color: #E82C58 !important;
  border-color: white !important;
}
.progress-bar {
  background: rgba(201, 238, 99, 1);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(201, 238, 99, 1);
}
.progress {
  background: rgba(112, 112, 112, 1);
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
  height: 9px !important;
  box-shadow: none;
}
.donateCounter {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}
.donateCounter hr {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  margin-top: 10px;
  margin-bottom: 15px;
}
.donateNumberCounter {
  margin-bottom: 20px;
}
.donateNumberCounter h5, .donateNumberCounter h6 {
  text-align: right;
  font-weight: normal;
  line-height: 1.2;
  font-family: sans-serif;
  margin: 0;
}
.donateNumberCounter h6 {
  font-weight: 100;
}
.donorCount {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.locationDonation {
  font-size: 15px;
  text-align: center;
  line-height: 1;
}
.donorRewardBox {
  background: #E8E8E7;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
}
.rewardHelp {
    color: #EE6383;
    font-size: 18px;
    font-style: italic;
    float: right;
    text-decoration: none;
    font-family: cursive;
    line-height: 1;
}
.rewardPrice {
  line-height: 1;
  margin: 0;
  font-family: georgia;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  float: left;
}
.rewardTagline {
  line-height: 1.2;
  margin: 0;
  margin-top: 20px;
  font-family: 'DIN Light Regular';
  font-weight: 100;
  font-size: 18px;
  text-align: left;
}
.rewardSubline {
  line-height: 1.2;
  margin: 10px 0;
  font-family: 'DIN Light Regular';
  font-weight: 100;
  font-size: 15px;
  text-align: left;
}
.donorRewardBox hr {
  border-bottom: 1px solid rgba(238, 99, 131, 1);
  margin-bottom: 10px;
  margin-top: 10px;
}
.donorRewardBox p {
  line-height: 1.2;
  margin: 0;
  font-family: georgia;
  font-weight: 100;
  font-style: italic;
  font-size: 13px;
  text-align: left;
}
.donorRewardBox .donorCount {
  float: left;
}
.donorRewardBox .donorStatus {
  float: right;
}
.donorRewardBox .donorCount, .donorRewardBox .donorStatus {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #EE6383;
  font-family: sans-serif;
  text-transform: none;
  margin-top: 10px;
}
.greenDonorReward {
  background: #F2FBD8;
}
#shareBlockSection {
  background: #171717;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topFeeds {
  padding: 10px;
  background: #EE8863;
  color: white;
  margin-bottom: 10px;
  font-family: Georgia;
  font-size: 18px;
}
.topFeedBlue {
  background: #63C9EE;
}
.topFeedPink {
  background: #EE6383;
}
.sectionBEnc {
  min-height: 180px;
}
.sectionTitle {
  border-bottom: 6px solid rgba(201, 238, 99, 1);
  padding-bottom: 8px;
  width: auto;
}
.footerCopyright {
  color: black;
  font-size: 18px;
  text-align: center;
  
}
footer {
  background: #DEF5A1 !important;
  padding: 40px 0;
  margin-top: 60px;
  font-family: 'DIN Light Regular'
}
footer a {
  font-weight: bold;
}
.bottomMenu {
  color: black;
  padding: 0;
  text-align: center;
}
.bottomMenu li {
  display: inline-block;
  margin-right: 14px;
  font-size: 14px;
}
.bottomMenu li a {
  text-decoration: none;
  color: black;
}
.bottomMenu .social {
  font-size: 22px;
}
.termsPage h3 {
  font-family: 'Din Light Regular';
  font-size: 22px;
  color: rgb(112, 112, 112);
  font-weight: bold;
  margin: 28px 0;
}
.termsPage p {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 20px 0;
}
.taglineTerms {
  font-family: georgia;
  font-size: 25px;
  color: #6383EE;
  font-weight: 600;
}
.termModify {
  font-size: 15px;
  color: darkgrey !important;
}
.privacyPage h3 {
  font-family: 'Din Light Regular';
  font-size: 22px;
  color: rgb(112, 112, 112);
  font-weight: bold;
  margin: 28px 0;
}
.privacyPage p {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 20px 0;
}
.taglinePrivacy {
  font-family: georgia;
  font-size: 25px;
  color: #6383EE;
  font-weight: 600;
}
.privacyModify {
  font-size: 15px;
  color: darkgrey !important;
}
.privacyPage h6 {
    font-family: Georgia;
    margin-bottom: 0;
    line-height: 0;
    color: #EE6383;
    font-style: italic;
    margin-top: 35px;
}
.faqPage h3 {
  font-family: 'Din Light Regular';
  font-size: 22px;
  color: rgb(112, 112, 112);
  font-weight: bold;
  margin: 28px 0;
}
.faqPage h6 {
  margin: 0;
  font-family: Georgia;
  font-size: 20px;
  color: rgb(238, 99, 131);
  margin-bottom: -18px;
  font-weight: bold;
  font-style: italic;
}
.faqPage p {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 20px 0;
}
.faqPrivacy {
  font-family: georgia;
  font-size: 25px;
  color: #6383EE;
  font-weight: 600;
}
.faqModify {
  font-size: 15px;
  color: darkgrey !important;
}
.faqPage h3 {
  font-family: 'Din Light Regular';
  font-size: 22px;
  color: rgb(112, 112, 112);
  font-weight: bold;
  margin: 28px 0;
}
.faqPage h6 {
  margin: 0;
  font-family: Georgia;
  font-size: 20px;
  color: rgb(238, 99, 131);
  margin-bottom: -18px;
  font-weight: bold;
  font-style: italic;
}
.faqPage p {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 20px 0;
}
.taglineFaq {
  font-family: georgia;
  font-size: 25px;
  color: #6383EE;
  font-weight: 600;
}
.faqModify {
  font-size: 15px;
  color: darkgrey !important;
}
#donateSection, #paymentSection {
  background: #F2FBD8;
  padding: 30px;
  font-family: 'Din Light Regular';
}
#donateSection h3 {
  margin: 0;
  line-height: 1;
  font-family: georgia;
  font-style: italic;
      margin-top: 8px;
    margin-left: 40px;
}
#donateSection #donateSelectBox{
    background: none;
    border: none;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 0 !important;
    background-color: #EEF6D7;
    padding: 5px;
    text-align: center;
    width: 70px;
    outline: none;
    font-family: Georgia;
}
#donateSection #donateSelectBoxCurrency {
  display: inline-block;
  font-size: 22px;
  margin: 0 auto;
  margin-right: 5px;
  font-family: Georgia;
}
#donateNote {
  margin-top: 10px;
  font-family: georgia;
  font-style: italic;
  margin-left: 18px;
}
.btnC2 {
    border-radius: 50px;
    background-color: rgba(201, 238, 99, 1);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(228, 76, 119, 1) 0px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 -1px 1px rgba(255, 255, 255, 0.75);
    color: white;
    padding: 10px;
    display: block;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
#giftProposal {
  font-size: 16px;
  margin-top: 20px;
  margin-top: 40px;
  margin-left: 40px;
}
#giftProposal span {
  color: #E82C58;
}
.donateGift {
  padding: 20px 0;
  border-bottom: 1px solid rgba(238, 99, 131, 1);
  margin-bottom: 10px;
  margin-left: 40px;
}
.donateGift h6{
  font-size: 16px;
  float: left;
  margin: 0;
  line-height: 1;
  font-family: 'DIN Light Regular';
  font-weight: bold;
}
.donateGift h5{
  font-size: 18px;
  float: right;
  font-weight: bold;
  font-family: georgia;
  margin: 0;
  line-height: 1;
}
.donateGift .donateFrom {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 20px;
  font-family: 'DIN Light Regular';
  font-weight: bold;
}
.donateGift p {
  font-family: 'DIN Light Regular';
  font-weight: bold;
}
.donateGift .donateFrom span{
  font-style: italic;
}
.donateGift .donateGiftShipsto {
  float: left;
}
.donateGift .donateGifyRedeem {
  float: right;
}
.donateGift a {
  font-family: 'DIN Light Regular';
  font-weight: bold;
}
.checkMark {
    position: absolute;
    left: 17px;
    font-size: 22px;
    color: gray;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-header {
  padding: 14px;
  padding-left: 28px;
  border-radius: 0;
  margin-top: 20px;
  background: #ECECEC;
  outline: none;
  border: none;
  font-family: 'Din Light Regular';
  font-weight: bold;
}
.ui-accordion .ui-accordion-content {
  background: #ECECEC;
  padding: 15px;
  border: none;
}
.ui-accordion-content p {
  font-family: 'Din Light Regular';
  font-size: 15.4px;
  color: gray;
}
.ui-accordion .ui-accordion-content {
  height: 200px;
}
#sideBarPwrdImg {
  margin: 40px auto;
}
#paymentSection h5{
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #707070;
}
.labelEnc {
  border-radius: 8px;
  padding: 15px;
  color: black;
  background: #C9EE63;
  margin-bottom: 20px;
  border: 1px solid #CCCCCC;
  font-weight: normal;
  text-align: left;
  font-family: 'DIN Light Regular';
  font-weight: bold;
}
#paymentSection input {
    display: block;
    width: 100%;
    background: transparent;
    box-shadow: none !important;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: georgia !important;
}
#paymentSection textarea {
    display: block;
    width: 100%;
    background: transparent;
    box-shadow: none !important;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: georgia !important;
}
#input5, #input6, #input7 {
  display: inline-block !important;
  width: 29% !important;
}
#input5 {
  width: 40% !important;
}
.authorizeBTN {
    margin-bottom: 16px;
    margin-left: 20px;
    margin-top: 14px;
    width: 188px;
}
#input10, #input11 {
    display: inline-block !important;
    width: 49.5% !important;
}
#paymentAgree input {
    display: inline-block;
    width: 20px;
    font-size: 20px;
    margin: 0;
    float: left;
}
#paymentAgree span {
    float: right;
    width: 93%;
}
.submitBTN {
    margin-right: 40px;
    width: 160px;
}
.paypalBTN {
    width: 160px;
}
hr {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
#paymentTerms {
  font-size: 12px;
}
.donorBox {
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(99, 201, 238, 0.1);
    border-radius: 0;
    box-shadow: -0.26px 0.97px 4px 0px rgba(0,0,0,0.6);
    padding: 8px;
    height: 230px;
    margin-bottom: 20px;
}
.avatarDonor {
    width: 70px;
    float: left;
}
.titleDonor {
    float: left;
    margin-left: 2px;
}
.titleDonor i {
  font-size: 22px;
}
.titleDonor h5{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    font-family: georgia;
    color: #C1153D;
    margin: 0;
    margin-top: 10px;
}
.titleDonor ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
}
.titleDonor ul a {
    color: #999999;
}
.titleDonor ul li {
    display: inline-block;
    margin-right: 6px;
}
.donorBox p {
    margin-top: 8px;
    font-family: 'Din Light Regular';
    line-height: 1.42857143 !important;
}
.donorBox p span{
    font-weight: bold;
}
.donorBoxActive ul li a i {
  color: #6FC6E2;
}
.margTop {
    margin-top: 30px;

}
.joinSignin h5#headingSection{
    font-family: georgia;
    margin-bottom: 30px;
}
.joinSignin h5#subHead {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    font-family: 'Din Light Regular';
}
.btnC3 {
    background-color: #0065A9;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(228, 76, 119, 1) 0px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 -1px 1px rgba(255, 255, 255, 0.75);
    color: white;
    padding: 18px;
    display: block;
    width: 120px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 70%;
    border-radius: 4px;
}
.btnC3:hover {
    background: #E82C58;
    color: white;
}
.invertBtnC3 {
    background: #E82C58;
}
.invertBtnC3:hover {
    background: #0065A9;
}
.orSign {
  font-family: georgia;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 28px 0;
}
.joinSignInput {
  margin-top: 40px;
}
.joinSignin input {
    width: 70%;
    padding: 18px;
    margin: 0 auto;
    display: block;
    outline: none;
    font-family: georgia;
    text-transform: lowercase;
    border: 1px solid rgb(197, 197, 197);
}
.joinSignInput h5 {
  margin-top: 25px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  font-family: 'Din Light Regular';
}
.navbar-brand {
  padding: 0;
}
.navbar-nav li, .navbar-nav a  {  
  height: 100%;
}
.navbar-nav a  {  
  padding-bottom: 0 !important;
  padding-top: 5px !important;
}
.navbar {
  min-height: 54px !important;
}
.navbar-nav {
  padding-top: 12px;
}
.navbar-right {
  padding-top: 0;
}
.btnC1, .btnC2, .btnC3 {
    text-transform: lowercase;
    font-family: Helvetica;
    font-weight: bold;
}
.donateBTN {
    padding: 13px 22px;
    font-size: 22px;
    background: #e82c58;
    width: 91%;
    margin: 0 auto;
    font-weight: bold;
    display: block;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 -1px 1px rgba(255, 255, 255, 0.75);
}
a.donateBTN:hover  {
    color: #23527c;
}
.mainPageFrame {
    height: 325px;
    margin-bottom: 10px;
}
.shareBox h3 {
  color: white;
  display: inline-block;
  font-size: 16px;
  float: left;
  margin: 0;
  margin-top: 10px;

}
.shareBox {
  margin-bottom: 10px;
  float: right;
}
.shareBox img {
  width: 36px;
}
.shareBoxDonate {
  margin-bottom: 10px;
  width: 91%;
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
  float: none;
  margin: 0 auto;
  padding: 7px 15px;
  padding-right: 0;
}
.shareBox ul {
list-style: none;
padding: 0;
margin: 0;
width: 150px;
display: inline-block;
margin-left: 37px;
}
.shareBox li {
display: inline-block;
margin-right: 10px;
}
/*.gallery {*/
/*margin: 0 auto -60px;*/
/*}*/
.gallery .img-responsive {
margin-bottom: 0px;
}
footer, .footer-push {
min-height: 65px;
background-color: #f5f5f5;
}
.social-icons {
margin-right: 15px;
font-size: 40px;
line-height: 75px;
}
.grid-custom .col-sm-6,
.grid-custom .col-xs-6,
.grid-custom .col-xs-12,
.grid-custom .col-sm-3 {
padding:5px;
}
.lastFeedMainPage {
  min-height: 186px;
  margin-bottom: 0;
}

.storyTitle {
  background: #FCE7E0;
  border-bottom: none;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 2px;
  margin-top: 0;
}
.ls-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
  background: #FCE7E0;
}
.panel-wrapper {
  background: #FCE7E0;
  padding: 0 45px;
}
.ls-nav a {
    background: #F1D5CC;
}
.ls-nav .current a {
    background: #FCE7E0;
}
.ls-responsive .ls-nav-right-arrow {
    right: 3px;
    top: 80px;
    background: url('../images/right-arrow.svg');
}
.ls-responsive .ls-nav-left-arrow {
    left: 3px;
    top: 80px;
    background: url('../images/left-arrow.svg');
    transform: rotate(180deg);
}
#main-slider {
}
.ls-nav {
  border-top: 2px solid white;
}
.sliderBox {
  display: block;
  min-height: 300px
}
.sliderBox img {
  float: left;
  width: 58%;
  height: 300px;
}
.sliderBox p {
  color: #707070;
  text-align: left;
  float: right;
  width: 38%;
  font-family: Helvetica;
  font-weight: 100;
  height: 300px;
  margin: 0;
  padding: 10px 0;
  text-overflow: clip;
  font-size: 19px;
  line-height: 1.2;
}
.sliderBox .title {
  display: none;
}
.ls-nav ul li a {
  font-weight: bold;
  color: #EE6383;
  font-size: 50px;
  margin: 0;
  line-height: 0.5;
  background: #FCE7E0;
}
.ls-nav ul { 
  text-align: center;
}
.ls-nav ul .current a {
    color: white;
}
.ls-nav a:hover {
    background: #E82C58;
    color: white;
    text-shadow: none;
}
#paymentSection #input6 {
    display: block;
    width: 100%;
    background: transparent;
    box-shadow: none !important;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 51px;
}
.labelEnc span {
  font-weight: normal;
}
.publicNav {
  margin-top: 13px;
  color: #6383ee;
  font-size: 19px;
  font-family: 'Emilys Candy'; 
  margin-right: 20px;
  cursor: pointer;
  margin-top: 15px;
}
.centerDonorText {
  text-align: center;
  margin-top: 30px !important;
  font-family: Georgia !important;
}
.centerDonorText span{
  font-weight: bold;
}
.storyBorderMainP {
  border-bottom: 5px solid black;
  margin: 5px 0;
}
.btnC1 .btnC2 .btnC3 .btnC4 {
  font-family: Helvetica;
  font-weight: bold;
}
#summaryPaymentSectionTop input {
  width: 49%;
  display: inline-block;
  background: white;
  border: none;
}
#summaryPaymentSectionTop input:nth-of-type(2) {
  margin-left: 5px;
}
#paymentSectionFirstRow {
  margin-top: 50px;
}
#paymentSectionFirstRow h5:nth-of-type(1) {
  margin-top: 16px;
}
#paymentAnonyCheck p {
  font-family: 'Din Light Regular';
  display: inline-block;
}
#paymentAnonyCheck input {
  display: inline-block;
  width: 22px;
}
.dwollaChecksPaymentSection input{
  display: inline-block !important;
  width: 22px !important;
  margin-bottom: 2px !important;
}
.dwollaChecksPaymentSection span{
  line-height: 2.4;
}
.dwollaChecksPaymentSection p {
  min-height: 92px;
}
.dwollaChecksPaymentSection .dwollaNoEmailConfirm {
    margin-left: 23px;
    line-height: 1.2;
    font-family: Georgia;
    font-style: italic;
    color: #6383EE;
    display: block;
}
#paymentTerms input {
    display: inline-block;
    width: 22px;
}
.confirmationCounter {
    border-top: 10px solid rgba(201, 238, 99, 1);
    padding-top: 25px;
    margin-top: 0;
}
.thankYouConfirmation {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 7px;
    font-family: Georgia;
    letter-spacing: 2.6px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid rgba(201, 238, 99, 1);
}
#confirmationSection {
  background: #F2FBD8;
  padding: 30px;
  font-family: 'Din Light Regular';
}
#confirmationYay {
  color: #EE6383;
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
  padding-right: 15px;
  padding-left: 15px;
}
#confirmationNumber {
  font-weight: bold;
  margin: 20px auto;
  margin-top: 12px;
  padding-right: 15px;
  padding-left: 15px;
}
#confirmationFirstP {
  padding-right: 15px;
  padding-left: 15px;
}
#confirmationSection p{
  font-size: 20px;
  line-height: 1.3;
}
#confirmationSection hr {
  border-bottom: 4px solid rgba(204, 204, 204, 1);
}
.confirmMwBTN {
  margin-top: 0;
  background: rgba(232, 44, 88, 1);
  width: 145px;
}
.confirmMwText {
  margin-top: 13px;
}
.donorMwEnc {
  margin-bottom: 20px;
}
.shareBoxConfirm {
  width: 145px;
  border-radius: 50px;
  margin: 0;
  padding: 15px 15px;
}
.shareBoxConfirm img {
  width: 32px;
}
.shareBoxConfirm li {
  margin-right: 2px;
}
.shareBoxConfirm ul {
  margin-left: 0;
  width: 100%;
  text-align: center;
}
/*.headingSectionLeftA .mainTagline ,  .headingSectionLeftA .mainSubline {*/
/*  text-align: left;*/
/*  margin-left: 0;*/
/*}*/
#profilePage {
  font-family: 'Din Light Regular';
  font-size: 22px;
}
#profilePage .abuntooTagLine{
    font-family: Helvetica;
    font-weight: 600;
    color: #707070;
    border-top: 4px solid #707070;
    border-bottom: 4px solid #707070;
    padding: 7px 0;
    text-align: center;
    max-width: 100%;
    margin: 0;
    font-size: 26.7px;
}
.profileExample {
    margin: 0;
    margin-top: 85px;
    color: black !important;
    font-family: Georgia !important;
    font-style: italic !important;
    font-size: 16px !important;
    margin-left: -25px;
}
.profileNav {
    margin-top: 0;
    background: rgba(238, 136, 99, 1);
    width: 120px;
    display: inline-block;
    margin-right: 8px;
}
.profilePageNavMbl {
  margin-top: 30px;
}
.profilePageNavMbl .profileNav {
  width: 48%;
  margin-right: 1.5%;
  margin-bottom: 20px;
}
.profileNavBlue {
  background: rgba(99, 131, 238, 1);
}
.sectionOneProfile {
  margin-top: 70px;
  min-height: 180px;
}
.sectionOneProfile p {
  line-height: 1;
}
.sectionOneProfile p span {
    margin-left: 50px;
    color: black;
}
.sectionOneProfile .labelEncProfile {
  width: 180px;
}
img.profilePStar {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.sectionTwoProfile {
  margin-top: 30px;
  min-height: 355px;
}
.sectionTwoProfile h3 {
  font-family: Georgia;
  font-style: italic;
  
}
.sectionTwoProfile p {
  color: rgb(160, 160, 159);
  font-size: 20px;
  line-height: 1.1;
}
.sectionTwoProfile input {
  margin-left: 6px;
}
.sectionThreeProfile {
  margin-top: 30px;
  /*min-height: 180px;*/
}
.sectionThreeProfile p{
  line-height: 1;
  color: rgb(116, 116, 115);
}

.sampleText {
  font-style: italic;
  color: rgb(160, 160, 159);
}

#profilePage .donorBox {
  width: 250px;
  font-size: 14px;
  margin-right: 12px;
}
#profilePage .donorBox .titleDonor {
    float: left;
    margin-left: 10px;
}
.sectionFourProfile input {
    position: absolute;
    left: -12px;
    margin-top: 9px;
}
.sectionFourProfile p {
    color: rgb(160, 160, 159);
    line-height: 1;
    margin-bottom: 25px;
}
.sectionFourProfile {
  min-height: 240px;
  margin-top: 30px;
}
.sectionFiveProfile {
  min-height: 240px;
  margin-top: 30px;
}
.sectionFiveProfile h3{
  font-family: Georgia;
  margin-bottom: 25px;
}
.sectionFiveProfile .notificationProfile {
  font-size: 14px;
}
.sectionFiveProfile p {
  margin-bottom: 25px;
}
.sectionFiveProfile .profilePStar {
  margin-bottom: 25px;
}
#storyNav, #galleryNav,  {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 5px;
    border-radius: 1px;
    background-color: black;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
.sectionOneProfileEdit input {
  max-width: 300px;
}
#sectionOneProfileEdit, #sectionThreeProfileEdit, #sectionFiveProfileEdit {
  display: none;
}
#closeSectionOne, #closeSectionThree, #closeSectionFive {
  margin-left: 40px;
  cursor: pointer;
}
#closeSectionOne img, #closeSectionThree img, #closeSectionFive img {
    width: 38px;
    height: 38px;
}
#editSectionOne, #editSectionThree, #editSectionFive {
  margin-left: 200px;
  color: black;
  cursor: pointer;
}
#sectionThreeProfileEdit input {
  display: block;
  width: 400px;
}
#sectionThreeProfileEdit textarea {
  display: block;
  width: 400px;
}
#sectionFiveProfileEdit input {
  display: block;
  width: 400px;
}
.mobileStars {
    margin-top: 30px;
    max-width: 115px;
    margin: 0 auto;
}
.mobileStars img{
  margin: 0 auto;
  display: inline-block;
}
.donorBoxPaymentsMbl {
  margin: 0 auto !important;
  margin-top: 30px !important;
}
#accountNav, #causeNav, #socialNav, #paymentNav  {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}
@media screen and (max-width: 1200px) {
  .mainSubline {
    margin-left: 0px;
  }
  #summaryPaymentSectionTop input:nth-of-type(2) {
    margin-left: 0;
  }
  #sectionOneProfileEdit input, #sectionThreeProfileEdit input, #sectionFiveProfileEdit input {
    width: 100%;
    margin-bottom: 8px;
  }
  #closeSectionOne, #closeSectionThree, #closeSectionFive {
    float: right;
    
  }
}
@media screen and (max-width: 1100px) {
  .mainSectionMenu li {
  display: block;
  width: 95%;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  }
  #editSectionOne, #editSectionThree, #editSectionFive {
  margin-left: 20px;
  }
  .sectionFourProfile input {
      position: relative;
      left: 0;
      margin-top: 0;
    }
    .sectionFourProfile p {
      margin: 0 auto;
      margin-bottom: 25px;
    }
}
@media screen and (max-width: 1000px) {
  .mainSubline {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .noPaddLMobile {
    padding-left: 0;
  }
  .noPaddRMobile {
    padding-right: 0;
  }
  .marg10Mobile {
    margin-bottom: 10px;
  }
  .bottomMenu {
    margin-left: 0;
    text-align: center;
  }
  .mainTagline{
    font-size: 25px;
    text-align: left;
  }
  .mainSubline {
    font-size: 20px;
    text-align: left;
  }
  .sliderBox img, .sliderBox p {
    float: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .ls-responsive .ls-nav-right-arrow, .ls-responsive .ls-nav-left-arrow{
    top: 39%;
  }
  .ls-nav {
    display: none;
  }
  #headingSection {
    margin-bottom: 40px;
  }
  #donateSection h3 {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .noMargTopMobile {
    margin-top: 0;
  }
  .margBot20Mobile {
    margin-bottom: 20px;
  }
  #input5, #input6, #input7 {
    display: block !important;
    width: 100% !important;
  }
  #summaryPaymentSectionTop input {
    width: 100%;
    display: inline-block;
}
  #paymentAnonyCheck input {
    margin-bottom: 0;
  }
  #payInputSection {
    padding-left: 15px;
  }
  #input10, #input11 {
    width: 100% !important;
  }
  #confirmationSection {
    margin-bottom: 30px;
    padding: 10px;
  }
  .thankYouConfirmation {
    letter-spacing: 2px;
  }
  .profilePageNavMbl .profileNav {
    width: 100%;
    margin-bottom: 20px;
  }
  .privacyPage h6 {
    line-height: 1;
}
}
@media screen and (max-width: 450px) {
 #summaryPaymentSectionTop input {
    width: 92%;
    display: inline-block;
  }
}