<div class="col-md-12">
    <h2 class="faqPrivacy">Frequently Asked Questions</h2>
    <h3>What is Abuntoo?</h3>
    <p>Abuntoo is a philanthropy platform that embodies the Gift Economy in action. When we share our abundance with
        others, we are expressing our humanity - the spirit of “ubuntu” - and the virtue of kindness. On
        <a href="http://www.abuntoo.io/">Abuntoo</a> , you can donate to any non-profit and enjoy gifts from merchants eager
        to share their offerings with you. We bring together the business and non-profit sectors in a meaningful way
        that is delightful to the conscientious donor / consumer - you!</p>
    <h3>What are Abuntoo Rewards?</h3>
    <p>While Abuntoo merchants all have their favorite causes to support, most of them have also agreed to provide
        thank-you gifts for donations to other charities. Therefore you can enjoy Abuntoo Rewards on this
        Abuntoo-powered campaign. We hope to help you discover new products and services offered by our merchant
        partners. Please be generous with your feedback and public reviews!</p>
    <h3>Is my transaction secure?</h3>
    <p>Yes, your transaction is secure! Abuntoo uses industry standard bank-level encryption between our servers and our
        payment processors. If you choose to save your payment information, we store a special authorization token we
        receive from our processor that can only be used by us. We do not store your credit card number or security
        code, but we do keep the last 4 digits and expiration date to make it easier for you to identify what card you used.</p>
    <h3>I have more questions!</h3>
    <p>For questions regarding the content of this campaign, please contact Peter McQuaid at
        <a href="mailto:peter@haightstreetart.org">peter@haightstreetart.org</a>. If you are an Abuntoo stakeholder - a donor, non-profit representative, or
        merchant - with questions about our platform or how you may get involved, please ping Cecilia at
        <a href="mailto:cecilia@abuntoo.com">cecilia@abuntoo.com</a>. Please be kind in your communication. That is all.</p>
</div>
