<div class="row privacyPage">
    <div class="col-md-12">
        <h2 class="taglinePrivacy">Abuntoo Privacy Policy</h2>
        <p class="privacyModify">Last Modified: April 15, 2016</p>

        <p>This Privacy Policy (this “Policy”) describes the collection of personal information by Abuntoo, Public
            Benefit Corporaton (“Abuntoo”) from users of our website at www.abuntoo.io as well as all related
            applications, widgets, software, tools, other services provided by us, and other websites operated by us and
            on which a link to this Policy is displayed (collectively, the “Abuntoo Platform”). This Policy also
            describes our use and disclosure of such information. By using the Abuntoo Platform, you consent to the
            collection, use, and disclosure of personal information in accordance with this Policy.</p>

        <h3>Personal Information</h3>
        <p>“Personal Information” as used in this Policy is information that specifically identifies an individual, such
            as an individual's name, address, telephone number, or email address. Personal Information also includes
            information about an individual’s activities, such as information about his or her activity on the Abuntoo
            Platform, and demographic information, such as date of birth, gender, geographic area, and preferences, when
            any of this information is linked to Personal Information that identifies that individual. Personal
            Information does not include “aggregate” or other non-personally identifiable information. Aggregate
            information is information that we collect about a group or category of products, services, or users that is
            not personally identifiable or from which individual identities are removed. We may use and disclose
            aggregate information and other non-personally identifiable information for various purposes.</p>

        <h3>Collection of Information</h3>
        <h6>Collection of Voluntarily Provided Information</h6>
        <p>We collect Personal Information that our users provide to us in a variety of ways on the Abuntoo Platform.
            These include the following:</p>
        <p><em>Email Newsletters.</em> We may offer email newsletters from time to time. If you sign up to receive a
            newsletter from us, we collect your email address.</p>
        <p><em>User Accounts and Profiles.</em> Our services may give you the ability to register for an account or to
            create and update a user profile on the applicable service. If we offer user account or profile
            functionality on the Abuntoo Platform, we will collect the Personal Information that you provide to us in
            the course of registering for an account or creating or updating a user profile. This information may
            include, for example, name, postal address, telephone number, email address, and related demographic
            information about you. We may indicate that some personal information is required for you to register for
            the account or to create the profile, while some is optional.</p>
        <p><em>Interactive Features.</em> The Abuntoo Platform may contain interactive functionality that allows you to
            engage with other users, post comments to forums, upload photographs and other content (“User Materials”),
            participate in surveys, and connect to third-party social media sites. If you use any interactive
            functionality on the Abuntoo Platform that requests or permits you to provide us with personal information
            (including, for example, any services that allow you to post User Materials on any part of the Abuntoo
            Platform), we collect the Personal Information that you provide to us in the course of using these
            interactive features.</p>
        <p><em>Correspondence.</em> If you contact us by email, using a contact form on the Abuntoo Platform, or by
            mail, fax, or other means, we collect the Personal Information contained within, and associated with, your
            correspondence.Making a Donation. When you submit a donation on the Abuntoo Platform, we will collect any
            Personal Information you provide in connection with your donation. We do not store your credit card
            information on our servers. Some of your Personal Information will be shared with the recipient organization
            of your donation.</p>
        <p><em>Location Information.</em> We may also collect and store your location information if you enable your
            mobile device to send it to us.</p>
        <p><em>Contests and Sweepstakes.</em> We or our advertisers and other business partners may conduct or sponsor
            special contests, sweepstakes, and other promotions that users may enter or otherwise participate in on the
            Abuntoo Platform. Certain of these promotions may be co-branded with one of our advertisers or other
            business partners. In these instances, the collection of your Personal Information may occur directly by the
            third-party partner on its website or other online service and may be shared with us. The promotion will
            state the privacy policy or policies governing the collection of such personal information.</p>

        <h6>Passive Information Collection</h6>
        <p>When you visit the Abuntoo Platform, some information is collected automatically. For example, when you
            access our website, we automatically collect your browser’s Internet Protocol (IP) address, your browser
            type, the nature of the device from which you are visiting us (e.g. a personal computer or a mobile device),
            the identifier for any handheld or mobile device that you may be using, the website that you visited
            immediately prior to accessing any web-based services, the actions you take on our services, and the
            content, features, and activities that you access and participate in on the Abuntoo Platform. We also may
            collect information regarding your interaction with email messages, such as whether you opened, clicked on,
            or forwarded a message.</p>
        <p>We may collect this information passively using technologies such as standard server logs, cookies, and clear
            GIFs (also known as “web beacons”). We use passively collected information to administer, operate, and
            improve the website and our other services and systems, to improve the effectiveness of advertising on the
            Abuntoo Platform, and to provide advertisements and other content that is tailored to you. If we link or
            associate any information gathered through passive means with Personal Information, or if applicable laws
            require us to treat any information gathered through passive means as Personal Information, we treat the
            combined information as Personal Information under this Policy. Otherwise, we use and disclose information
            collected by passive means in aggregate form or in a non-personally identifiable form.</p>
        <p>Please be aware that third parties, such as companies displaying advertisements on the Abuntoo Platform or
            sites or services provided by third parties (“Third-Party Sites”) that may be linked to from the Abuntoo
            Platform, may set cookies on your hard drive or use other means of passively collecting information about
            your use of their services, Third-Party Sites or content. We do not have access to, or control over, these
            third-party means of passive data collection.</p>
        <p>
        <p>

        <h6>Information from Other Sources</h6>
        <p>We may receive information about you, including Personal Information, from third parties, and may combine
            this information with other Personal Information we maintain about you. If we do so, this Policy governs any
            combined information that we maintain in personally identifiable format.</p>
        <p>

        <h3>Use of Personal Information</h3>
        <p>We use Personal Information to provide services and information that you request, to operate and enhance our
            services and other systems, to prevent fraudulent use of our services and other systems, to prevent or take
            action against activities that are, or may be, in violation of our Terms of Service or applicable law, to
            tailor advertisements, content, and other aspects of your experience on and in connection with the Abuntoo
            Platform, to maintain a record of our dealings with you, for other administrative purposes, and for any
            other purposes that we may disclose to you at the point at which we request your Personal Information, and
            pursuant to your consent.
        </p>
        <p>We may also use Personal Information you provide to contact you regarding products, services, and offers,
            both from ourselves and from our third party promotional partners, that we believe you may find of interest.
            We allow you to opt-out from receiving marketing communications from us as described in the “Choice” section
            below.</p>

        <h3>Disclosure of Personal Information</h3>
        <p>Except as described in this Policy, we will not disclose your Personal Information that we collect on the
            Abuntoo Platform to third parties without your consent. We may disclose information to third parties if you
            consent to us doing so, as well as in the following circumstances:
        </p>
        <p><em>Service Providers</em>. We may disclose Personal Information to third-party service providers (e.g.,
            payment processing and data storage and processing facilities) that assist us in our work. We limit the
            Personal Information provided to these service providers to that which is reasonably necessary for them to
            perform their functions, and we require them to agree to maintain the confidentiality of such Personal
            Information.</p>
        <p><em>Public Areas and Syndicated Services</em>. Some features on the Abuntoo Platform may allow you to upload,
            post, or otherwise transmit User Materials to public areas of the platform, such as content that you post in
            a public profile. We may make these User Materials available for display upon company properties that are
            not governed by this Policy, as well as to services operated by third parties that display content from our
            platform (collectively, “Syndicated Services”). Please be aware that any Personal Information that you
            include within any User Materials will be made available to other users of the Abuntoo Platform and to users
            of Syndicated Services who view it. You include Personal Information in User Materials at your sole risk. We
            may allow you to select privacy options that limit access to some types of Personal Information in User
            Materials, but no security measures are impenetrable or perfect. Additionally, even after information posted
            on the website is removed, caching and archiving services may have saved that information, and other users
            or third parties may have copied or stored the information available on the Abuntoo Platform. We cannot
            warrant or guarantee that any Personal Information that you provide on and in connection with the Abuntoo
            Platform will not be accessed, viewed, or used by unauthorized persons.</p>
        <p><em>Business Transfers</em>. Information about our users, including Personal Information, may be disclosed
            and otherwise transferred to an acquirer, or successor or assignee as part of any merger, acquisition, debt
            financing, sale of company assets, or similar transaction, as well as in the event of an insolvency,
            bankruptcy, or receivership in which Personal Information is transferred to one or more third parties as one
            of our business assets.</p>
        <p><em>To Protect our Interests</em>. We also disclose Personal Information if we believe that doing so is
            legally required, or is in our interest to protect our property or other legal rights (including, but not
            limited to, enforcement of our agreements), or the rights or property of others, or otherwise to help
            protect the safety or security of our services and other users of the services.</p>

        <h3>Choice</h3>
        <p>If you receive commercial email from us, you may unsubscribe at any time by following the instructions
            contained within the email. You may also opt-out from receiving commercial email from us, and any other
            promotional communications that we may send to you from time to time (e.g. by postal mail) by sending your
            request to us by email at cecilia@abuntoo.com. Additionally, if we offer user account functionality on the
            Abuntoo Platform, we may allow you to view and modify settings relating to the nature and frequency of
            promotional communications that you receive from us.</p>
        <p>Please be aware that if you opt-out of receiving commercial email from us, it may take up to ten business
            days for us to process your opt-out request, and you may receive commercial email from us during that
            period. Additionally, even after you opt-out from receiving commercial messages from us, you will continue
            to receive administrative messages from us regarding our services.</p>

        <h3>Access</h3>
        <p>If we offer the ability to create user accounts or profiles on our services, you may have the ability to
            access and update many categories of Personal Information that you provide to us by logging in to your
            account and accessing your account settings. If you wish to access or amend any other Personal Information
            we hold about you, you may contact us at cecilia@abuntoo.com. If you request that we delete your account on
            the Abuntoo Platform (via a user settings page, by email, or otherwise), we will do so within a reasonable
            period of time, but we may need to retain some of your Personal Information in order to satisfy our legal
            obligations, or where we reasonably believe that we have a legitimate reason to do so.</p>

        <h3>Links</h3>
        <p>The Abuntoo Platform may contain links to other websites, products, or services that we do not own or
            operate. The Abuntoo Platform also may contain links to Third-Party Sites such as social networking
            services. If you choose to visit or use any Third-Party Sites or products or services available on or
            through such Third-Party Sites, please be aware that this Policy will not apply to your activities or any
            information you disclose while using those Third-Party Sites or any products or services available on or
            through such Third-Party Sites. We are not responsible for the privacy practices of these Third-Party Sites
            or any products or services on or through them.</p>

        <h3>Children</h3>
        <p>Children’s safety is important to us, and we encourage parents and guardians to take an active interest in
            the online activities of their children. The Abuntoo Platform is not directed to children under the age of
            13, and we do not knowingly collect Personal Information from children under the age of 13 without obtaining
            parental consent. If we learn that we have collected Personal Information from a child under the age of 13
            on our platform, we will delete that information as quickly as possible. If you believe that we may have
            collected any such information on our platform, please notify us at cecilia@abuntoo.com.</p>

        <h3>International Visitors</h3>
        <p>Our servers and data centers are located in the United States. If you choose to use the Abuntoo Platform from
            outside the U.S., then you should know that you are transferring your Personal Information outside of your
            region and into the U.S. for storage and processing. By providing your Personal Information to us through
            your use of the Abuntoo Platform, you agree to that transfer, storage, and processing in the U.S. Also, we
            may transfer your data from the U.S. to other countries or regions in connection with storage and processing
            of data, fulfilling your requests, and operating our services. You should know that each region can have its
            own privacy and data security laws, some of which may be less stringent as compared to those of your own
            region.</p>

        <h3>Security</h3>
        <p>We use reasonable security measures that are designed to protect personal information from accidental loss,
            disclosure, misuse, and destruction. Please be aware, however, that no data security measures can be
            guaranteed to be completely effective. Consequently, we cannot ensure or warrant the security of any
            information that you provide to us. You transmit information to us at your own risk.</p>

        <h3>Updates To This Policy</h3>
        <p>We may occasionally update this Policy. When we do, we will also revise the “last updated” date at the
            beginning of the Policy. Your continued use of our services after such changes will be subject to the
            then-current policy. If we change this Policy in a manner that is materially less restrictive of our use or
            disclosure of your Personal Information, we will use reasonable efforts to notify you of the change and to
            obtain your consent prior to applying the change to any Personal Information that we collected from you
            prior to the date the change becomes effective. We encourage you to periodically review this Policy to stay
            informed about how we collect, use, and disclose personal information.</p>

        <h3>Contacting us</h3>
        <p>If you have any questions or comments about this Policy, please email us at cecilia@abuntoo.com.</p>
    </div>
</div>
