<div class="row termsPage">
    <div class="col-md-12">
        <h2 class="taglineTerms">Abuntoo Terms of Service</h2>
        <p class="termModify">Last Modified: April 15, 2016</p>

        <p>Welcome to Abuntoo!</p>
        <p>Thank you for allowing us to <i>be of service.</i> Abuntoo facilitates the sharing of wealth and resources
            for the collective and mutual benefit of our stakeholders: non-profit organizations and other recipients of
            donations, donors, and mission-driven merchants and other providers of goods and services. By using our
            products and services (the “Abuntoo Platform”), you are identifying yourself as a stakeholder and agreeing
            to these terms.</p>
        <p>The Abuntoo Platform is provided by Abuntoo, Public Benefit Corporation, a Delaware corporation.</p>

        <h3>Using the Abuntoo Platform</h3>
        <p>The Abuntoo Platform refers to functions and services accessible via www.abuntoo.io as well as all related
            applications, widgets, software, tools, other services provided by us, and other websites operated by us and
            on which a link to these Terms is displayed, and the humans who answer emails and make things happen. Please
            be kind and helpful and don't misuse or abuse us.</p>
        <p>For example, don’t interfere with our services or try to access them using a method other than the interface
            and the instructions that we provide. You may use the Abuntoo Platform only as permitted by law. We may
            suspend or stop providing our services to you if you do not comply with our terms or policies or if we are
            investigating suspected misconduct. The Abuntoo Platform displays some content that is not ours. This
            content (and its accuracy) is the sole responsibility of the entity that makes it available. We may review
            content to determine whether it is illegal or violates our policies, and we may remove or refuse to display
            content that we reasonably believe violates our policies or the law.</p>
        <p>In connection with your use of the Abuntoo Platform, we may send you service announcements, administrative
            messages, and other information. You may opt out of some of those communications.</p>

        <h3>Your Abuntoo Account</h3>
        <p>You may need one of three types of accounts in order to use some of our services: Donor Account, Non-Profit
            Account, or Merchant Account. Please protect your account information and secure your password. You are
            responsible for any activity that happens on or through your account. Abuntoo’s <a href="/privacy.html">Privacy
                Policy</a> explains how we treat your personal data and protect your privacy when you use our services.
            By using the Abuntoo Platform, you agree that we can use such data in accordance with our <a
                    href="privacy.html">Privacy Policy</a>.
        <p>

        <h3>Your Content</h3>
        <p>Some of our services allow you to upload, submit, store, send or receive content. You retain ownership of any
            intellectual property rights that you hold in that content. In short, what belongs to you stays yours. When
            you upload, submit, store, send or receive content to or through our services, you give Abuntoo (and those
            we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as
            those resulting from translations, adaptations or other changes so that your content works better with our
            services), communicate, publish, publicly display, and distribute such content. The rights you grant in this
            license are for the limited purpose of operating, promoting, and improving our services on behalf of our
            stakeholders. You retain the right to access and remove content that has been provided to us at any
            time.</p>

        <h3>About Software In Our Services</h3>
        <p>When a service requires or includes downloadable software (e.g. a mobile app), this software may update
            automatically on your device once a new version or feature is available. Some services may let you adjust
            your automatic update settings.</p>
        <p>Abuntoo gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use any
            software provided to you by Abuntoo as part of our services. This license is for the sole purpose of
            enabling you to use and enjoy the benefit of the services as provided by Abuntoo, in the manner permitted by
            these terms. You may not copy, modify, distribute, sell, or lease any part of our services or included
            software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws
            prohibit those restrictions or you have our written permission.</p>

        <h3>Warranties & Disclaimers</h3>
        <p>We provide our services using a commercially reasonable level of skill and care and we hope that you will
            enjoy using them. But there are certain things that we don’t promise about our services.</p>
        <p>Other than as expressly set out in these terms or additional terms, neither Abuntoo nor its suppliers or
            distributors make any specific promises about the services. For example, we don’t make any commitments about
            the content within the services, the specific functions of the services, or their reliability, availability,
            or ability to meet your needs. We provide the services as is.</p>
        <p>Some jurisdictions provide for certain warranties, like the implied warranty of merchantability, fitness for
            a particular purpose and non-infringement. To the extent permitted by law, we exclude all warranties.</p>
        <p><em>Abuntoo Rewards.</em> Descriptions of rewards / thank-you gifts as they appear on the Abuntoo Platform
            are made solely and exclusively by the individual or entity providing such rewards / thank-you gifts. We do
            not warrant the veracity of these descriptions or the condition and / or quality of the product or service
            being offered. To help us provide better service in the future, please notify us of any issues or concerns
            you may experience with the reward itself or the redemption process.</p>

        <h3>Liability For Our Services</h3>
        <p>When permitted by law, Abuntoo, and Abuntoo’s suppliers and distributors, will not be responsible for lost
            profits, revenues, or data, financial losses or indirect, special, consequential, exemplary, or punitive
            damages.</p>
        <p>To the extent permitted by law, the total liability of Abuntoo, and its suppliers and distributors, for any
            claims under these terms, including for any implied warranties, is limited to the amount you paid us to use
            the services.</p>
        <p>In all cases, Abuntoo, and its suppliers and distributors, will not be liable for any loss or damage that is
            not reasonably foreseeable.</p>
        <p><em>Abuntoo Rewards.</em> Users agree to hold Abuntoo harmless for any damages related to the redemption or
            use of any product or service offered as a reward / thank-you gift on the Abuntoo Platform. Any dispute
            arising from the redemption or use of a reward should be addressed to the reward provider directly, and must
            be resolved between the person or persons claiming the reward and the reward provider.</p>

        <h3>Business Use of Our Services</h3>
        <p>If you are using our services on behalf of a business or non-profit organization, that business or non-profit
            organization accepts these terms. It will hold harmless and indemnify Abuntoo and its affiliates, officers,
            agents, and employees from any claim, suit or action arising from or related to the use of the services or
            violation of these terms, including any liability or expense arising from claims, losses, damages, suits,
            judgments, litigation costs and attorneys’ fees.</p>

        <h3>About These Terms</h3>
        <p>We may modify these terms or any additional terms that apply to a service to, for example, reflect changes to
            the law or changes to the Abuntoo Platform. You should look at the terms regularly. We’ll post notice of
            modifications to these terms on this page. Changes will not apply retroactively and will become effective no
            sooner than fourteen days after they are posted. However, changes addressing new functions for a service or
            changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for
            our services, you should discontinue your use of the Abuntoo Platform.</p>
        <p>These terms govern the relationship between Abuntoo and you. They do not create any third party beneficiary
            rights.</p>
        <p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are
            giving up any rights that we may have (such as taking action in the future).</p>
        <p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>
        <p>These terms shall be construed and enforced in accordance with the laws of the State of California, without
            reference to conflict of laws principles. You agree that any action or proceeding arising out of these terms
            shall be brought in a federal or state court of competent jurisdiction in California.</p>

        <h3>Contacting Us</h3>
        <p>If you have any questions or comments about these Terms of Service, please email us at
            cecilia@abuntoo.com.</p>
    </div>
</div>
