
h1.title Embed Test

|embed id: #{@embed.id}
br
br

script src="http://code.jquery.com/jquery-1.11.3.min.js"
/script src="http://local.coop:8000/lib/seedapi.js?v=1"
/script src="./seedapi-config.js"

b Step 1:
br

form id="step1Form"
  input type="hidden" name="embed_uuid" value="#{@embed.uuid}"
  |Name:
  input type="text" name="name" value="john doe"
  br
  /|Last Name:
  /input type="text" name="lastName" value="doe"
  /br
  |Email:
  input type="text" name="email" value="john2@doe.com"
  br
  |Amount:
  input id="step1Amount" type="text" name="amount" value="12"
  br
  /|Monthly:
  /input type="checkbox" name="monthly" value="true"
  /br
  input id="step1Submit" type="submit" value="Next"

br
br
|Step 2:
form id="step2Form"
  input type="hidden" name="embed_uuid" value="#{@embed.uuid}"
  |Transaction Uuid:
  input id="transaction_uuid" type="text" name="transactionUuid"
  br
  |Amount:
  input id="step2Amount" type="text" name="amount"
  br
  |Card Number:
  input type="text" name="card_number" value="4242424242424242"
  br
  |Card MMYY:
  input type="text" name="card_mmyy" value="1216"
  br
  /|Card Exp Year:
  /input type="text" name="cardExpYear" value="2016"
  /br
  |Card CVV:
  input type="text" name="card_cvv" value="123"
  br
  |Billing Zip:
  input type="text" name="billing_zip" value="94102"
  br
  |Charge Description:
  input type="text" name="description" value="test"
  br

  input id="step2Submit" type="submit" value="Submit"

br
br
|Status:
div id="paymentStatus"
br
|Error:
div id="errorMessage"
div id="errorStack"
br
br
div id="statusLink"
br

javascript:

  $("#step1Form").submit(handleStep1);
  $("#step2Form").submit(handleStep2);


  function handleStep1() {
    var form = document.getElementById("step1Form");
    var data = {};
    FairPayApi.copyFormValues(data, form, ['embed_uuid','name','email','amount']);
    //alert('data:' + JSON.stringify(data));
    FairPayApi.submitStep1(data, handleStep1Response);
    return false;
  }

  function handleStep1Response(data) {
    //alert('step1 resp: ' + data);
    var transaction_uuid = data.result.transaction_uuid;
    //alert('transaction_uuid: ' + transaction_uuid);
    $('#transaction_uuid').val(transaction_uuid);
    $('#step2Amount').val( $('#step1Amount').val() );
  }


  function handleStep2() {
    var form = document.getElementById("step2Form");
    var data = {};
    FairPayApi.copyFormValues(data, form, ['embed_uuid', 'transaction_uuid','amount','card_number','card_mmyy','card_cvv','billing_zip','description']);
    FairPayApi.submitStep2(data, handleStep2Response);
    return false;
  }

  function handleStep2Response(data) {
    //alert('step2 response: ' + JSON.stringify(data));
    if (data.result) {
      var status = data.result.status;
      $('#paymentStatus').html(status);
      //var linkUrl = data.result.statusLink;
      //var linkHtml = '<a href="' + linkUrl + '">' + linkUrl + '</a>';
      //$('#statusLink').html(linkHtml);
    } else if (data.error) {
      $('#errorMessage').html(data.error.message);
      $('#errorStack').html('<pre>' + data.error.stack + '</pre>');
    }
  }




