
h1.title Embed Test

|embed id: #{@embed.id}
br
br

script src="http://code.jquery.com/jquery-1.11.3.min.js"
/script src="http://local.coop:8000/lib/seedapi.js?v=1"
/script src="./seedapi-config.js"

b Step 1:
br

form id="step1_form"
  input type="hidden" name="embed_uuid" value="#{@embed.uuid}"
  |Name:
  input type="text" name="name" value="john doe"
  br
  /|Last Name:
  /input type="text" name="lastName" value="doe"
  /br
  |Email:
  input type="text" name="email" value="john@doe.com"
  br
  |Amount:
  input id="step1_amount" type="text" name="amount" value="100"
  br
  /|Monthly:
  /input type="checkbox" name="monthly" value="true"
  /br
  input id="step1_submit" type="submit" value="Next"

br
br
b Payment - Card:
form id="card_form"
  input type="hidden" name="embed_uuid" value="#{@embed.uuid}"
  input type="hidden" id="card_amount" name="amount"
  input type="hidden" name="description" value="test"
  |Transaction Uuid:
  input id="transaction_uuid" type="text" name="transactionUuid"
  br
  /|Amount:
  /input id="step2Amount" type="text" name="amount"
  /br

  div id="errorMessage"
  div id="fee_info"

  |Card Number:
  input id="card_number" type="text" name="card_number"
  / value="4242424242424242"
  br
  |Card MMYY:
  input type="text" name="card_mmyy" value="1216"
  br
  |Card CVV:
  input type="text" name="card_cvv" value="123"
  br
  |Billing Zip:
  input type="text" name="billing_zip" value="94102"
  br
  /|Charge Description:
  /input type="text" name="description" value="test"
  /br

  input id="card_submit" type="submit" value="Submit"

/br
/br
/b Payment - Dwolla
/= link_to 'authorize', "/dwolla/auth?t=xxx"


/br
/br
/|Payment - Paypal:

br
br
|Status:
div id="paymentStatus"
br
/|Error:
/div id="errorStack"
br
br
div id="statusLink"
br

javascript:

  $("#step1_form").submit(handleStep1);
  $("#card_form").submit(handleCard);

  var lastBin = '';
  var amount = 0;

  function handleStep1() {
    var form = document.getElementById("step1_form");
    //amount = $('#step1_amount').val();
    amount = form.elements['amount'].value;
    var data = {};
    FairPayApi.copyFormValues(data, form, ['embed_uuid','name','email','amount']);
    //alert('data:' + JSON.stringify(data));
    FairPayApi.submitStep1(data, handleStep1Response);
    return false;
  }

  function handleStep1Response(data) {
    //alert('step1 resp: ' + data);
    var transaction_uuid = data.result.transaction_uuid;
    //alert('transaction_uuid: ' + transaction_uuid);
    $('#transaction_uuid').val(transaction_uuid);
    $('#card_amount').val( $('#step1_amount').val() );
  }


  function handleCard() {
    var form = document.getElementById("card_form");
    var data = {};
    FairPayApi.copyFormValues(data, form, ['embed_uuid', 'transaction_uuid','amount','card_number','card_mmyy','card_cvv','billing_zip','description']);
    FairPayApi.submitCard(data, handleCardResponse);
    return false;
  }

  function handleCardResponse(data) {
    //alert('step2 response: ' + JSON.stringify(data));
    if (data.result) {
      var status = data.result.status;
      $('#paymentStatus').html(status);
      $('#errorMessage').html('');      //var linkUrl = data.result.statusLink;
      //var linkHtml = '<a href="' + linkUrl + '">' + linkUrl + '</a>';
      //$('#statusLink').html(linkHtml);
    } else if (data.error) {
      //alert('error resp: ' + JSON.stringify(data.error));
      $('#paymentStatus').html('error');
      $('#errorMessage').html(data.error.message);
      //$('#errorStack').html('<pre>' + data.error.stack + '</pre>');
    }
  }

  function cardNumberKeypressed(event) {
    //alert('cardNumberKeypressed: ' + event);
    var card_number = $('#card_number').val();
    //alert('card number: ' + card_number);
    if (card_number.length >= 6) {
      var newBin = card_number.slice(0, 6);
      if (lastBin != newBin) {
        //alert('new bin: ' + newBin + ', last bin: ' + lastBin + ', amount: ' + amount);
        lastBin = newBin;
        data = {bin: newBin, amount: amount};
        FairPayApi.estimateFee(data, handleEstimateFeeResponse);
      }
    }
  }

  function handleEstimateFeeResponse(data) {
    //alert('estimate fee response: ' + JSON.stringify(data));
    if (data.result) {
      info = data.result;
      var bindata = "<b>Information about your card</b>: <br>&nbsp; &nbsp;" + info.card_brand + ", " + info.card_type + ", " + info.card_category +
              ", " + info.issuing_org + ", " + (info.is_regulated ? "regulated bank" : "unregulated bank") + "";
      bindata += "<br>Transaction fee for this card: <b>$" + info.estimated_fee + "</b>";
      bindata += "<br>&nbsp; &nbsp;" + info.fee_tip;
      //var infoDiv = document.getElementById("card_info");
      $("#fee_info").html(bindata);

    } else {
      console.log("info not found for bin: " + card);
      $("#fee_info").html("<br><br>");
    }
  }
  document.addEventListener("DOMContentLoaded", function (e) {
    $("#card_number").bind("keyup", cardNumberKeypressed);
  }, false);



