
h1.title Payment Test Flow - Step 2

/|transaction id: #{@transaction.id}
/br
/|Payor: #{@transaction.payor.name}
/br
/|Payee: #{@transaction.payee.name}
br
|Amount: #{@transaction.base_amount}
br
br

hr

- for payment_type in @embed.payment_types
  = render payment_type
  hr
