h1.title = @embed.name
h3.title Payment Complete
/todo: factor out shared code with widget


= render 'pay/receipt', transaction: @transaction

/- return_url = @embed.get_data_field(:return_url)
/- if return_url
/  br
/  link_to "Return to #{@embed.profile.name} website", return_url