<div class="col-md-12" id="headingSection">
  <h1 class="mainTagline">Bring Art Back to John Muir Elementary School</h1>
  <h3 class="mainSubline">A Community-Based Fundraiser in Collaboration with Haight Street Art Center</h3>
</div>
