- embed = @data[:embed]
- transaction = @data[:transaction]
- profile_authenticated = @data[:authenticated_profile].present?
/- dwolla_service = merchant_config.payment_service

tr
  td
    b Dwolla (e-check service)
    br
    | Transaction Fee: $0.00
  td
    - unless payment_config[:has_dwolla_auth]
      - if payment_config[:dwolla_flow] == 'prompt_existing'
        form id="dwolla_user_form"
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = hidden_field_tag :embed_uuid, embed[:uuid]
          = hidden_field_tag :transaction_uuid, transaction[:uuid]
          /div#dwolla_prompt_existing
          |Are you an existing Dwolla user?
          br
          = radio_button_tag :dwolla_user, :true
          = " Yes  "
          |&nbsp;
          =< radio_button_tag :dwolla_user, :false
          = " No"
          br
          div id="dwolla_auth" style="display: none;"
            = link_to "Provide Dwolla Authorization", "/dwolla/auth?t=#{transaction[:uuid]}"
            br
          div id="dwolla_send_more_info" style="display: none;"
            input type="checkbox" name="send_dwolla_info" value="true"
            =< "Send me more information by email about the Dwolla e-check service which can be used to avoid credit card fees in the future."
            br
      - else
        = link_to "authorize", "/dwolla/auth?t=#{transaction[:uuid]}"
        br

    - else
        - if profile_authenticated || payment_config[:dwolla_authenticated]
          /= link_to "confirm payment w/ default funding source", "/pay/#{@embed.uuid}/pay_via_dwolla/#{@transaction.uuid}"
          /form id="dwolla_form" method="post" action="/pay/#{embed[:uuid]}/step2" onsubmit="return validateDwollaForm()"
          form id="dwolla_form"
            = hidden_field_tag :authenticity_token, form_authenticity_token
            = hidden_field_tag :embed_uuid, embed[:uuid], id: "embed_uuid"
            = hidden_field_tag :transaction_uuid, transaction[:uuid], id: "transaction_uuid"
            = hidden_field_tag :payment_type, 'dwolla'
            = hidden_field_tag :amount, transaction[:base_amount]
            |Dwolla Funding Source:
            br
            /- funding_sources = dwolla_service.funding_sources(@transaction)
            /  ##in @transaction.payor.dwolla_token.funding_sources(@transaction.base_amount)
            - for option in payment_config[:funding_sources]
              = radio_button_tag :funding_source_id, option[:id], option[:default]
              = " " + option[:name]
              br
            input type="submit" value="Pay with Dwolla"
        - else
          b Please sign in to use your previously authenticated Dwolla token.
          br
          /= link_to('Sign In', new_user_session_path)
          div id="password_block_dwolla"
          = hidden_field_tag :email_dwolla, transaction[:payor][:email], id: 'email_dwolla'
          => "Password:"
          input type="password" id="password_dwolla" name="password" autocapitalize="off"
          input id="signinSubmitDwolla" type="submit" value="Signin" onclick="handleSigninDwolla(); return false;"
          br


javascript:

  $("#dwolla_form").submit(handleDwollaPayment);

  function handleDwollaPayment() {
    //alert('handleCard');
    var form = document.getElementById("dwolla_form");
    var data = {};
    FairPayApi.copyFormValues(data, form, ['embed_uuid', 'transaction_uuid', 'payment_type', 'amount', 'funding_source_id']);
    console.log('dwolla submit data: ' + JSON.stringify(data));
    //if (validateDwollaData(data)) {
    if (validateDwollaForm()) {
      FairPayApi.submitPayment(data, handleDwollaPaymentResponse);
    }
    return false;
  }

  function handleDwollaPaymentResponse(data) {
    console.log('dwolla payment response: ' + JSON.stringify(data));
    if (data.result) {
      var status = data.result.status;
      console.log('payment status: ' + status);
      //$('#paymentStatus').html(status);
      //$('#errorMessage').html('');      //var linkUrl = data.result.statusLink;
      //var linkHtml = '<a href="' + linkUrl + '">' + linkUrl + '</a>';
      //$('#statusLink').html(linkHtml);
      if (data.result.redirect_url) {
        window.location = data.result.redirect_url;
      }
    } else if (data.error) {
      alert('error resp: ' + JSON.stringify(data.error));
      //$('#paymentStatus').html('error');
      //$('#errorMessage').html(data.error.message);
      //$('#errorStack').html('<pre>' + data.error.stack + '</pre>');
    }
  }

  document.addEventListener("DOMContentLoaded", function (e) {
    var form = $('#dwolla_user_form');
    if (form) {
      $('input[type=radio][name=dwolla_user]').on('change', function () {
        var dwolla_user = $(this).val();
        //alert("dwolla user: " + dwolla_user);
        updateDwollaChoices(dwolla_user);
      });
      $('input[type=checkbox][name=send_dwolla_info]').on('change', function () {
        var checked = $("input[name=send_dwolla_info]").is(':checked');
        //var send_info = $(this).;
        //alert("send_info checked: " + checked);
        if (checked) {
          sendDwollaInfo();
        }
      });
    }

    var fee_allocation_form = $('#fee_allocation_form');
    if (fee_allocation_form) {
    }
  }, false);

  function updateDwollaChoices(dwolla_user) {
    //alert('handleCard');
    if (dwolla_user == 'true') {
      $("#dwolla_auth").show();
      $("#dwolla_send_more_info").hide();
    } else {
      $("#dwolla_auth").hide();
      $("#dwolla_send_more_info").show();
    }
  }

  function sendDwollaInfo() {
    var form = document.getElementById("dwolla_user_form");
    var data = {};
    FairPayApi.copyFormValues(data, form, ['embed_uuid', 'transaction_uuid']);
    //alert('data: ' + JSON.stringify(data));
    FairPayApi.sendDwollaInfo(data, handleSendDwollaInfoResponse);
    return false;
  }

  function handleSendDwollaInfoResponse(data) {
    //alert('handleSendDwollaInfoResponse: ' + JSON.stringify(data));
  }

  function validateDwollaForm() {
    var count = $("input[name=funding_source_id]:checked").length;
    //var funding_source_id = $("#dwolla_form input[type='radio']:checked").val();
    //var funding_source_id = $("#input[name=funding_source_id]:checked", '#dwolla_form').val();
    //alert("funding id: " + funding_source_id);

    if (count == 0) {
      alert("Please select a Funding Source");
      return false;
    } else {
      return true;
    }
  }

  function handleSigninDwolla() {
    var email = $("#email_dwolla").val();
    var password = $("#password_dwolla").val();
    var data = {email: email, password: password};
    console.log("handleSigninDwolla - data: " + JSON.stringify(data));
    FairPayApi.signin(data, handleSigninResponseDwolla);
    return false;
  }

  function handleSigninResponseDwolla(data) {
    console.log('signin response: ' + JSON.stringify(data));
    if (data.result) {
      var embed_uuid = $("#embed_uuid").val();
      var transaction_uuid = $("#transaction_uuid").val();
      var auth_token = data.result;
      var param_data = {embed_uuid: embed_uuid, transaction_uuid: transaction_uuid, auth_token: auth_token};
      console.log("update auth token params: " + JSON.stringify(param_data));
      //$("#password_block").hide();
      FairPayApi.updateAuthToken(param_data, handleUpdateAuthTokenDwollaResponse);
    } else if (data.error) {
      //showError(data.error.message);
      alert("error: " + data.error.message);
    }
  }

  function handleUpdateAuthTokenDwollaResponse(data) {
    console.log('handleUpdateAuthTokenDwollaResponse response: ' + JSON.stringify(data));
    if (data.result) {

      if (data.result.redirect_url) {
        console.log("next step url: " + data.result.redirect_url);
        window.location = data.result.redirect_url;
      }
    } else if (data.error) {
      //showError(data.error.message);
      alert("error: " + data.error.message);
    }
  }