- embed = @data[:embed]
- session_data = @data[:session_data]
- auth_token = session_data[:auth_token]  if session_data

h1.title = embed[:name]

br

- campaign = embed[:campaign]
- if campaign.present?
  = render 'pay/campaign_progress', campaign: campaign

div id="errorMessage" style="display: none;"

/form id="step1Form" method="post" action="/pay/#{@embed.uuid}/step1" onsubmit="return validateStep1Form()"
form id="step1_form" onsubmit="return handleStep1()"

  = hidden_field_tag :authenticity_token, form_authenticity_token
  = hidden_field_tag :embed_uuid, embed[:uuid]
  = hidden_field_tag :authenticated_email, auth0_authenticated_email, id: :authenticated_email
  /= "authenticated_email: #{auth0_authenticated_email}"
  br

  - profile = @data[:authenticated_profile] || {}

  /todo: tidy this up, and handle when email is changed
  /= hidden_field_tag :auth_token, "#{auth_token}", id: 'auth_token'
  /=> "Token:"
  /input type="text" id="auth_token" name="auth_token" value="#{auth_token}"
  /br

  /table padding=2
  /  tr
  /    td
  /      |My Contribution Today:
  /    td
  /      input id="step1Amount" type="text" name="entered_amount" value="" size=5
  /  tr
  /    td
  /      |Email:
  /    td
  /      input type="text" id="email" name="email" value="#{profile[:email]}" autocapitalize="off"

  => "My Contribution Today:"
  input id="step1Amount" type="text" name="entered_amount" value="" size=5
  br
  /=> "Email:"
  /input type="text" id="email" name="email" value="#{profile[:email]}" autocapitalize="off"  size=25
  /br

  br

  /- if embed[:recurrence_options].present?
  /  - for option in embed[:recurrence_options]
  /    = radio_button_tag :recurrence, option[:value].to_s, option[:checked]
  /    =<> option[:label]
  /    |&nbsp;
  /    = " "
  /  br
  /
  /- if embed[:mailing_list_enabled]
  /  => "Join Mailing List:"
  /  input type="checkbox" name="mailing_list" value="join"
  /  br
  /
  - if campaign && campaign[:offers].present?
    |Please select ONE OR MORE thank-you gifts.  Yes, you can make multiple selections!
    br
    = check_box_tag :chosen_offer_none, :true
    =<> 'No Gift'
    br
    - for offer in campaign[:offers]
      = check_box_tag :chosen_offer_uuid, offer[:uuid]
      =<> offer[:label]
      br

  br
  input id="step1Submit" type="submit" value="Next"


script src="http://code.jquery.com/jquery-1.11.3.min.js"
script src="/js/fairpayapi.js?v=2"

javascript:

  //FairPayApi.setEndpoint('http://localhost:3000');
  //FairPayApi.setApiKey('abuntoo');
  //FairPayApi.setEmbedUuid('VJ7iA5cQg');

  //$("#card_form").submit(handleCard);

  function handleSignin() {
    var data = {};
    var form = document.getElementById("step1_form");
    FairPayApi.copyFormValues(data, form, ['email', 'password']);
    if (validateSigninData(data)) {
      FairPayApi.signin(data, handleSigninResponse);
    }
    return false;
  }

  function handleSigninResponse(data) {
    console.log('signin response: ' + JSON.stringify(data));
    if (data.result) {
      var token = data.result;
      //document.getElementById('auth_token');
      $("#auth_token").val(token);
      $("#password_block").hide();
      FairPayApi.profile(token, handleProfileResponse);
    } else if (data.error) {
      showError(data.error.message);
    }
  }

  function handleProfileResponse(data) {
    console.log('profile response: ' + JSON.stringify(data));
    if (data.result) {
      console.log('name: ' + data.result.name);
      $("#name").val(data.result.name);
    } else if (data.error) {
      showError(data.error.message);
    }
  }

  function handleStep1() {
    console.log("handleStep1");
    var data = {};
    var form = document.getElementById("step1_form");
    FairPayApi.copyFormValues(data, form, ['embed_uuid', 'name', 'email', 'recurrence', 'mailing_list', 'description', 'memo', 'return_url', 'correlation_id', 'auth_token']);
    data.amount = resolveAmount();
    data.offer_uuid = resolveOfferUuid();
    //alert('data: ' + JSON.stringify(data));

    if (validateStep1Data(data)) {
      console.log('beforfe submitStep1');
      FairPayApi.submitStep1(data, handleStep1Response);
    }
    return false;
  }

  function handleStep1Response(data) {
    console.log('step1 response: ' + JSON.stringify(data));
    if (data.result) {
      //var status = data.result.status;
      //$('#errorMessage').html('');      //var linkUrl = data.result.statusLink;
      var authenticated_email = $("#authenticated_email").val();
      console.log("authenticated email: " + authenticated_email);
      if (authenticated_email == '') {
        console.log("signin needed");
        window.signin();
      } else if (data.result.next_step_url) {
        window.location = data.result.next_step_url;
      }
    } else if (data.error) {
      showError(data.error.message);
    }
  }

  function showError(message) {
    $('#errorMessage').show();
    $('#errorMessage').html(message);
    //$('#errorStack').html('<pre>' + data.error.stack + '</pre>');
  }

  function hideError(message) {
    $('#errorMessage').hide();
    $('#errorMessage').html('');
  }
  function resolveAmount() {
    var assigned_amount = number_field_val('assigned_amount');
    var entered_amount = number_field_val('entered_amount');
    var amount_chosen_count = $("input[name=chosen_amount]:checked").length;
    var chosen_amount = $("input[name=chosen_amount]:checked").val();
    //if (amount_chosen_count > 0) {
    //  alert("chosen_amount: " + chosen_amount);
    //}
    if (assigned_amount > 0) {
      return assigned_amount;
    } else if (entered_amount > 0) {
      return entered_amount;
    } else if (amount_chosen_count > 0) {
      return chosen_amount;
    } else {
      return 0;
    }
  }

  function resolveOfferUuid() {
    var chosen = $("input[name=chosen_offer_uuid]:checked").val();
    if (chosen && chosen != null) {
      return chosen;
    } else {
      var assigned = field_val('assigned_offer_uuid', null);
      return assigned;
    }
  }

  function validateStep1Data(data) {
    if (data['amount'] == 0) {
      showError("Please enter an amount");
      return false;
    }
    //if (!validatePresent(data['email'], 'an Email')) {
    //  return false;
    //}
    return true;
  }

  function validateSigninData(data) {
    if (!validatePresent(data['email'], 'an Email')) {
      return false;
    }
    if (!validatePresent(data['password'], 'a Password')) {
      return false;
    }
    return true;
  }
  //todo: factor this over to fairpayapi.js
  function validatePresent(value, field_description) {
    if (value == undefined || value == null || value.length == 0) {
      showError("Please enter " + field_description);
      return false;
    } else {
      return true;
    }
  }

  //function validateStep1Form() {
  //  var assigned_amount = number_field_val('assigned_amount');
  //  var entered_amount = number_field_val('entered_amount');
  //  var amount_chosen_count = $("input[name=chosen_amount]:checked").length;
  //  //var amount = $('#step1Amount').val();
  //  //if (amount_chosen == 0 && (amount == null || amount == "")) {
  //  //  alert("Please enter an amount");
  //  //  return false;
  //  //}
  //  if (assigned_amount == 0 && entered_amount == 0 && amount_chosen_count == 0) {
  //    alert("Please enter an amount");
  //    return false;
  //  }
  //  var email = $('#email').val();
  //  if (email == null || email == "") {
  //    alert("Please enter an email");
  //    return false;
  //  }
  //  return true;
  //}

  function number_field_val(name) {
    return Number(field_val(name, 0));
  }

  function field_val(name, default_value) {
    var field_spec = 'input[name="' + name + '"]';
    var raw = $(field_spec).val(); // confirm if this statement is always safe
    //alert(name + " raw val: " + raw);
    var val = raw ? raw : default_value;
    //alert(name + " val: " + val);
    return val;
  }
