  <div class="row">
      <div class="col-md-12" id="headingSection">
      <h1 class="mainTagline">Bring Art Back to John Muir Elementary School</h1>
      <h3 class="mainSubline">A Community-Based Fundraiser in Collaboration with Haight Street Art Center</h3>
      </div>
      <div class="col-md-8">
          <section id="donateSection">
              <!-- MAIN SECTION -->
              <div class="row">
                <div class="col-md-6">
                  <h3>My Contribution Today:</h3>
                </div>
                <div class="col-md-6">
                  <select id="donateSelectBox">
                    <option value="5">$5</option>
                    <option value="10">$10</option>
                    <option value="25">$25</option>
                    <option value="30">$30</option>
                    <option value="50">$50</option>
                    <option value="100">$100</option>
                    <option value="500">$500</option>
                  </select>
                  <p id="donateNote">Minimum donation $5.  Please give more if you're able to! </p>
                  <a href="payments.html" class="btnC2 floatL">Next</a>
                  <div class="clearB"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h5 id="giftProposal">Please select <span>ONE OR MORE</span> thank-you gifts.  Yes, you can make multiple selections!</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="donateGift">
                    <a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                    <h6>No Gift</h6>
                    <div class="clearB"></div>
                  </div>

                  <div class="donateGift">
                    <a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                    <h6>"Sacred Economics" by Charles Eisenstein</h6>
                    <h5>$45</h5>
                    <div class="clearB"></div>
                    <p class="donateFrom"><span>from</span> Cecilia Tom <a href="#">www.mywebsite.com</a></p>
                    <p>Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.</p>
                    <a href="#" class="donateGiftShipsto">ships to all 50 states</a>
                    <a href="#" class="donateGifyRedeem">redeemable in Oakland, CA</a>
                    <div class="clearB"></div>
                  </div>

                  <div class="donateGift">
                    <a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                    <h6>Disneyland Tickets</h6>
                    <h5>$105</h5>
                    <div class="clearB"></div>
                    <p class="donateFrom"><span>from</span> Cecilia Tom <a href="#">www.mywebsite.com</a></p>
                    <p>Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.</p>
                    <a href="#" class="donateGiftShipsto">ships to all 50 states</a>
                    <a href="#" class="donateGifyRedeem">redeemable in Oakland, CA</a>
                    <div class="clearB"></div>
                  </div>

                  <div class="donateGift">
                    <a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                    <h6>Amazon Gift Card</h6>
                    <h5>$40</h5>
                    <div class="clearB"></div>
                    <p class="donateFrom"><span>from</span> Cecilia Tom <a href="#">www.mywebsite.com</a></p>
                    <p>Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.</p>
                    <a href="#" class="donateGiftShipsto">ships to all 50 states</a>
                    <a href="#" class="donateGifyRedeem">redeemable in Oakland, CA</a>
                    <div class="clearB"></div>
                  </div>
                </div>
              </div>
          </section>
      </div>

      <div class="col-md-4">
          <aside>
              <div class="donateCounter">
                <div class="donateNumberCounter">
                    <h6><span>$2,713</span> of</h6>
                    <h5>$10,000</h5>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    30%
                  </div>
                </div>
                <p class="donorCount">19 DONORS</p>
                <hr>
                <p class="locationDonation"><i class="fa fa-map-marker"></i>    San Francisco, CA</p>
              </div>
              <img id="sideBarPwrdImg" src="images/pwrdAbuntoo.png" alt="Powered by Abuntoo" class="img-responsive">
        <div id="accordion">  
          <h3>What is Abuntoo?</h3>
          <div>
            <p>
            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
            ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
            amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
            odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
            </p>
          </div>
          <h3>What are Abuntoo Rewards?</h3>
          <div>
            <p>
            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
            suscipit faucibus urna.
            </p>
          </div>
          <h3>Is my transaction secure?</h3>
          <div>
            <p>
            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
            </p>
            <ul>
              <li>List item one</li>
              <li>List item two</li>
              <li>List item three</li>
            </ul>
          </div>
          <h3>I have more questions!</h3>
          <div>
            <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
            </p>
            <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
            </p>
          </div>
        </div>
          </aside>
      </div>
  </div>
