b Payment Receipt - #{@transaction.payee.name}
hr
br

= render 'pay/receipt', transaction: @transaction

/|Payor:
/b
/  =< @transaction.payor.name
/|,
/=< @transaction.payor.email
/br
/|Payee:
/b
/  =< @transaction.payee.name
/|,
/=< @transaction.payee.email
/br
/|Paid Amount: $
/b
/  = @transaction.format_amount(@transaction.paid_amount)
/br
/br
/
/|Payment Method: #{@transaction.payment_type}
/br
/|Transaction Fee: $#{@transaction.format_amount(@transaction.estimated_fee)}
/br
/|Transaction Id: #{@transaction.uuid}
/br
/|Status: #{@transaction.status}
/br
/
/- recurring = @transaction.recurring_payment
/- if recurring
/  br
/  |Recurring:
/  b
/    =< recurring.interval_display
/  br
/  - if recurring.next_date
/    |Next Payment: #{recurring.next_date}
/    br
/
/  br
/  |To see recurring payment status or to cancel go:
/  b
/  =< link_to 'here', recurring.status_url

