.widget {
  background-color: white;
  padding: 5px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: lightgrey;
  width: 460px;
  height: 380px;
}


.card {
  display: none;
  width: 100%;
}

.dwalla {
  display: none;
  width: 100%;
}

.paypal {
  display: none;
  width: 100%;
}

.panels {
  background-color: white;
}

.payments {
  background-color: white;
  width: 100%;
}


